@charset "UTF-8";

@import "theme/fonts";
@import "theme/variables";

@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

@import "base/button";
@import "modules";

.zf-green {
  color: theme-color("primary");
}

body.app {
  padding-top: 3rem;
}

[data-tm=container] img {
  max-width: 100%;
}

pre {
  @extend .container;

  overflow: auto;
  display: block;
  padding: 9.5px;
  margin: 0 auto;
  max-height: 400px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.iframe-responsive-wrapper {
  @extend .embed-responsive, .embed-responsive-16by9;
}
